### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [359]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [383]:
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading,overall_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [363]:
total_schools = len(df.school_name.unique())
total_students = len(df["Student ID"].unique())
total_budget = "${:,.2f}".format(sum(school_data.budget))

average_math_score = (df.math_score).mean()
average_reading_score = (df.reading_score).mean()
passing_math = (((df.math_score)>=70).value_counts([0])*100).tolist()
passing_math_percent = passing_math[0]
passing_reading = ((df.reading_score>=70).value_counts([0])*100).tolist()
passing_reading_percent = passing_reading[0]
passing_overall_percent = ((((df.math_score)>=70) & ((df.reading_score)>=70)).value_counts([0])*100).tolist()
passing_overall_percent = passing_overall_percent[0]
summary_df = pd.DataFrame([[total_schools, total_students, total_budget, average_math_score, average_reading_score, passing_math_percent, passing_reading_percent, passing_overall_percent]],
                         columns= ['Total Schools', 'Total Students', 'Total Budget','Average Math Score' , 'Average Reading Score', '% Math Passing', '% Reading Passing', '% Overall Passing'])
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [426]:
df["passing_math"] = (df['math_score'])>=70
df["passing_reading"] = (df.reading_score)>=70
df["overall_pass"] = df['passing_math'] & df['passing_reading']

group_by_school = df.groupby('school_name')
math_score = group_by_school['math_score'].mean()
reading_score = group_by_school['reading_score'].mean()
total_students = group_by_school['student_name'].count()
school_type = school_data.set_index(["school_name"])["type"]
total_budget = school_data.set_index(["school_name"])["budget"]
per_student_budget = total_budget/total_students


passing_math_percent = group_by_school['passing_math'].apply(lambda x:np.sum(x)/len(x)*100)
passing_reading_percent = group_by_school['passing_reading'].apply(lambda x:np.sum(x)/len(x)*100)
passing_overall_percent = group_by_school['overall_pass'].apply(lambda x:np.sum(x)/len(x)*100)


summary_by_school = pd.DataFrame({"School Type": school_type,
                                  "Total Students": total_students,
                                  "Total School Budget": total_budget.map('${:,.2f}'.format),
                                  "Per Student Budget": per_student_budget.map('${:.2f}'.format),
                                  "Average Math Score": math_score,
                                  "Average Reading Score": reading_score,
                                  "% Passing Math": passing_math_percent,
                                  "% Passing Reading": passing_reading_percent,
                                  "% Overall Passing": passing_overall_percent,
                                  
                              }).rename_axis(None)
summary_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [382]:
summary_by_school.sort_values(by=["% Overall Passing"], ascending = False)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [379]:
summary_by_school.sort_values(by=["% Overall Passing"])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [425]:
year_9_math = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
year_10_math = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
year_11_math = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['math_score'].mean()
year_12_math = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()


math_by_grade = pd.DataFrame({'9th': year_9_math, '10th': year_10_math, '11th': year_11_math, '12th': year_12_math}).rename_axis(None)


math_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  77.083676
Cabrera High School    83.094697  83.154506  82.765560  83.094697
Figueroa High School   76.403037  76.539974  76.884344  76.403037
Ford High School       77.361345  77.672316  76.918058  77.361345
Griffin High School    82.044010  84.229064  83.842105  82.044010
Hernandez High School  77.438495  77.337408  77.136029  77.438495
Holden High School     83.787402  83.429825  85.000000  83.787402
Huang High School      77.027251  75.908735  76.446602  77.027251
Johnson High School    77.187857  76.691117  77.491653  77.187857
Pena High School       83.625455  83.372000  84.328125  83.625455
Rodriguez High School  76.859966  76.612500  76.395626  76.859966
Shelton High School    83.420755  82.917411  83.383495  83.420755
Thomas High School     83.590022  83.087886  83.498795  83.590022
Wilson High School     83.085578  83.724422  83.195326  83.085578
Wright High School     83.264706  84.010288  83.836782  83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [428]:
year_9_read = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['reading_score'].mean()
year_10_read = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['reading_score'].mean()
year_11_read = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['reading_score'].mean()
year_12_read = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['reading_score'].mean()


read_by_grade = pd.DataFrame({'9th': year_9_read, '10th': year_10_read, '11th': year_11_read, '12th': year_12_read}).rename_axis(None)

read_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  81.303155
Cabrera High School    83.676136  84.253219  83.788382  83.676136
Figueroa High School   81.198598  81.408912  80.640339  81.198598
Ford High School       80.632653  81.262712  80.403642  80.632653
Griffin High School    83.369193  83.706897  84.288089  83.369193
Hernandez High School  80.866860  80.660147  81.396140  80.866860
Holden High School     83.677165  83.324561  83.815534  83.677165
Huang High School      81.290284  81.512386  81.417476  81.290284
Johnson High School    81.260714  80.773431  80.616027  81.260714
Pena High School       83.807273  83.612000  84.335938  83.807273
Rodriguez High School  80.993127  80.629808  80.864811  80.993127
Shelton High School    84.122642  83.441964  84.373786  84.122642
Thomas High School     83.728850  84.254157  83.585542  83.728850
Wilson High School     83.939778  84.021452  83.764608  83.939778
Wright High School     83.833333  83.812757  84.156322  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [433]:
group_by_school = df.groupby('school_name')
math_score = group_by_school['math_score'].mean()
reading_score = group_by_school['reading_score'].mean()
total_students = group_by_school['student_name'].count()
school_type = school_data.set_index(["school_name"])["type"]
total_budget = school_data.set_index(["school_name"])["budget"]
per_student_budget = total_budget/total_students


passing_math_percent = group_by_school['passing_math'].apply(lambda x:np.sum(x)/len(x)*100)
passing_reading_percent = group_by_school['passing_reading'].apply(lambda x:np.sum(x)/len(x)*100)
passing_overall_percent = group_by_school['overall_pass'].apply(lambda x:np.sum(x)/len(x)*100)
avg_math_score
avg_reading_score
passing_math
passing_english
overall_passing

scores_by_school = pd.DataFrame({'Average Math Score': avg_math_score, 'Average Reading Score': avg_reading_score, '% Passing Math': passing_math, '% Passing Reading': passing_reading, '% Overall Passing': overall_passing }).rename_axis(None)

NameError: name 'overall_passing' is not defined

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type